<div class="container-fluid">
  <div class="row">
    <div class="col-12 titleCampaigns">
      <h2>CAMPAÑAS</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <img class="col-12 campaignsPhoto" src="../../assets/imgs/la_fille_sur_le_pont.jpg" alt="">
    </div>
    <div class="col-6">
      <p>I'm sorry, so sorry
        That I was such a fool
        I didn't know
        Love could be so cruel
        Oh-oh-oh-oh-oh-oh-oh-yes

        You tell me mistakes
        Are part of being young
        But that don't right
        The wrong that's been done

        (I'm sorry) I'm sorry
        (So sorry) So sorry
        Please accept my apology
        But love is blind
        And I was too blind to see

        Oh-oh-oh-oh-oh-oh-oh-yes

        You tell me mistakes
        Are part of being young
        But that don't right
        The wrong that's been done
        Oh-oh-oh-oh-oh-oh-oh-yes

        I'm sorry, so sorry
        Please accept my apology
        But love was blind
        And I was too blind to see</p>
      <p>I'm sorry, so sorry
        That I was such a fool
        I didn't know
        Love could be so cruel
        Oh-oh-oh-oh-oh-oh-oh-yes

        You tell me mistakes
        Are part of being young
        But that don't right
        The wrong that's been done

        (I'm sorry) I'm sorry
        (So sorry) So sorry
        Please accept my apology
        But love is blind
        And I was too blind to see

        Oh-oh-oh-oh-oh-oh-oh-yes

        You tell me mistakes
        Are part of being young
        But that don't right
        The wrong that's been done
        Oh-oh-oh-oh-oh-oh-oh-yes

        I'm sorry, so sorry
        Please accept my apology
        But love was blind
        And I was too blind to see</p>
    </div>
  </div>
</div>