<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2>CONVERSEMOS!</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Nirlyn Seijas</h5>
          <p class="card-text">Yo que no he tenido nunca un oficio
            que ante todo competidor me he sentido débil
            que perdí los mejores títulos para la vida
            que apenas llego a un sitio ya quiero irme (creyendo que mudar-
            me es una solución)
            que he sido negado anticipadamente y escarnecido por los más
            aptos
            que me arrimo a las paredes para no caer del todo
            que soy objeto de risa para mí mismo
            que creí que mi padre era eterno
            que he sido humillado por profesores de literatura
            que un día pregunté en qué podía ayudar y la respuesta fue una
            risotada
            que no podré nunca formar un hogar, ni ser brillante, ni triunfar
            en la vida
            que he sido abandonado por muchas personas porque casi no hablo
            que tengo vergüenza por actos que no he cometido
            que poco me ha faltado para echar a correr por la calle
            que he perdido un centro que nunca tuve
            que me he vuelto el hazmerreír de mucha gente por vivir en el limbo
            que no encontré nunca quien me soporte
            que fui preterido en aras de personas más miserables que yo
            que seguiré toda la vida así y que el año entrante seré muchas
            veces más burlado en mi ridícula ambición
            que estoy cansado de recibir consejos de otros más aletargados
            que yo ("Ud. es muy quedado, avíspese, despierte")
            que nunca podré viajar a la India
            que he recibido favores sin dar nada a cambio
            que ando por la ciudad de un lado a otro como una pluma
            que me dejo llevar por los otros
            que no tengo personalidad ni quiero tenerla
            que todo el día tapo mi rebelión
            que no me he ido a las guerrillas
            que no he hecho nada por mi pueblo
            que no soy de las Faln y me desespero por todas estas cosas y por
            otras cuya enumeración sería interminable</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Robson</h5>
          <p class="card-text">que no puedo salir de mi prisión
            que he sido dado de baja en todas partes por inútil
            que en realidad no he podido casarme ni ir a París ni tener un día
            sereno
            que me niego a reconocer los hechos
            que siempre babeo sobre mi historia
            que soy imbécil y más que imbécil de nacimiento
            que perdí el hilo del discurso que se ejecutaba en mí y no he po-
            dido encontrarlo
            que no lloro cuando siento deseos de hacerlo
            que llego tarde a todo
            que he sido arruinado por tantas marchas y contramarchas
            que ansío la inmovilidad perfecta y la prisa impecable
            que no soy lo que soy ni lo que no soy
            que a pesar de todo tengo un orgullo satánico
            aunque a ciertas horas haya sido humilde hasta igualarme a las
            piedras
            que he vivido quince años en el mismo círculo
            que me creí predestinado para algo fuera de lo común y nada he
            logrado
            que nunca usaré corbata
            que no encuentro mi cuerpo
            que he percibido por relámpagos mi falsedad y no he podido de-
            rribarme, barrer todo y crear de mi indolencia, mi flotación,
            mi extravío, una frescura nueva, y obstinadamente me suici-
            do al alcance de la mano
            me levantaré del suelo más ridículo todavía para seguir burlán-
            dome de los otros y de mí hasta el día del juicio final.</p>
        </div>
      </div>
    </div>
  </div>
</div>