.container-fluid {
    position: absolute;
    top: 5%;
    color: white;
}
.homePageContent {
    display: flex;
    flex-direction: row;
}

.photoHome {
    width: 100%;
}

.textHomePage {
    height: 100%;
}

.titleHome {
    margin: 3%;
}

li, ul {
    list-style: none;
}